#bloc_page
{
	font-family: 'Raleway', sans-serif;
	margin: auto;
	width: 1600px;
}

header 
{
	display: flex;
	justify-content: space-between;
}

#logo
{
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

#logo img

{
	width: 70px;
	height: 70px;
}


nav ul
{
	list-style-type: none;
	display:flex;
	justify-content: space-around;
	font-size: 20px;
}

nav li
{
	margin-right: 15px;
}

nav a
{
	position: relative;
	text-decoration: none;
	color: #0065FC;
}

nav a:hover{
	border-top: solid #0065FC;
}


#logo_position

{

display: inline-flex;
justify-content: center;
align-items: center;
border: 2px solid #F2F2F2;
border-radius: 5px 5px 5px 5px;
margin-right: 15px;
}

#position
{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px 5px 5px 5px;
	color: black;
	width: 50px;
	height: 55px;
	background-color: #F2F2F2;
	border: none #F2F2F2;
}

#marseille
{
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

#rechercher
{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin-left: 45px;
	border-radius: 5px 5px 5px 5px;
	width: 100px;
	height: 55px;
	color: white;
	background-color: #0065FC;
	border: none #F2F2F2;
}


#filtre
{
	display: inline-flex;
	justify-content: space-around;
	align-items: center;
	margin:auto;
	margin:5%;

}

#eco
{
	display: inline-flex;
	justify-content: space-around;
	align-items: center;
	margin-left: 50px;
	margin-right: 10px;
	width: 155px;
	height: 35px;
	border:2px solid #F2F2F2;
	border-radius: 50px / 50px;
}

#billet
{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: #0065FC;
	width: 50px;
	height: 35px;
	margin-right: 10px;
	margin-left: 10px;
	border-color: none;
	border-radius: 100%;
	background-color: #DEEBFF;
}
#famille
{
		display: inline-flex;
	justify-content: space-around;
	align-items: center;
	margin-left: 50px;
	margin-right: 10px;
	width: 155px;
	height: 35px;
	border:2px solid #F2F2F2;
	border-radius: 50px / 50px;

}

#homme
{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: #0065FC;
	width: 50px;
	height: 35px;
	margin-right: 10px;
	margin-left: 10px;
	border-color: none;
	border-radius: 100%;
	background-color: #DEEBFF;
}

#romantique
{
		display: inline-flex;
	justify-content: space-around;
	align-items: center;
	margin-left: 50px;
	margin-right: 10px;
	width: 155px;
	height: 35px;
	border:2px solid #F2F2F2;
	border-radius: 50px / 50px;

}

#coeur
{
		display: inline-flex;
	justify-content: center;
	align-items: center;
	color: #0065FC;
	width: 50px;
	height: 35px;
	margin-right: 10px;
	margin-left: 10px;
	border-color: none;
	border-radius: 100%;
	background-color: #DEEB
}

#animal
{
		display: inline-flex;
	justify-content: space-around;
	align-items: center;
	margin-left: 50px;
	margin-right: 10px;
	width: 155px;
	height: 35px;
	border:2px solid #F2F2F2;
	border-radius: 50px / 50px;

}

#chien
{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: #0065FC;
	width: 50px;
	height: 35px;
	margin-right: 10px;
	margin-left: 10px;
	border-color: none;
	border-radius: 100%;
	background-color: #DEEBFF;
}

#info
{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: grey;
}

#excla

{
	color: #0065FC;
	margin-right: 15px;

}

#lieux

{
    display: flex;
    flex-flow: row wrap ;
	background-color: grey;	
	justify-content: space-around;
	width: 250px
	height: 150px;
}

.active
{
	color: #0065FC;
}

.image
{
	width: 75%
	height:75%;
}

#fin
{
display:flex;
justify-content: space-around;
align-items: center;
background-color: #F2F2F2;
}

footer h1
{
	font-size: 1.3em;
}

footer ul
{
	list-style-type: none;


}

footer li
{
	color:grey;

}